<div class="header-wrapper">
  <header class="clearfix container">
    <!--<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>-->

    <div class="site-info">
      <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p>{{ site.description }}</p>
    </div>

    <nav>
      <div class="menu">
        <a href="{{ site.baseurl }}/">About</a>
        <a href="{{ site.baseurl }}/blog">Blog</a>
        <a href="{{ site.baseurl }}/editorial-projects">Editorial Projects</a>
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="mobile-menu">
        <a href="{{ site.baseurl }}/">About</a>
        <a href="{{ site.baseurl }}/blog">Blog</a>
        <a href="{{ site.baseurl }}/editorial-projects">Editorial Projects</a>
      </div>
    </nav>
  </header>
</div>