.blog-list {
	list-style-type: none;
	padding: 0;
	.card {
		img {
			height: auto;
		}
		h2 {
			margin: 0.25rem 0;
		}
		p {
			margin-top: 0;
		}
		.date {
			color: #b7b5b5;
			font-size: 0.75rem;
			font-style: italic;
		}
	}
}
