.home {
	margin-top: 5.5rem;
	img {
		display: block; 
		margin: 0 auto;
		width: 200px;
	}
	h2 {
	    font-size: 3rem;
	    line-height: 1.1;
	    margin: 1.5rem 0 0 0;
	    text-align: center;
	    width: 100%;
	}
	.text-gradient {
		background: linear-gradient(to right, #d38312, #a83279);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}
	p {
		font-size: 1.25rem;
	    font-weight: 300;
		margin: 3.25rem 0 4rem 0;
	    line-height: 1.6;
	}
}
@media(min-width: 42em){
	.home {
		img {
			display: inline-block; 
			margin: 0;
		}
		h2 {
			display: inline-block;
		    font-size: 4rem;
		    margin: 0 0 0 3rem;
		    text-align: left;
		    vertical-align: top;
		    width: 400px;
		}
	}
}