.post {
	margin: 1rem 20px;
	h1 {
		font-size: 1.75rem;
		line-height: 1.125;
		margin: 1rem 0 0.75rem 0;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 600;
		margin: 2rem 0 1.75rem 0;
	}
	li, p {
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.5;
	}
	p {
		margin: 0 0 1.75rem 0;
	}
	figure {
		margin: 0 0 1.75rem 0;
	}
	img {
		border: 1px solid #e9ecef;
	}
	figure.image {
		margin: 0 0 1.75rem 0;
	}
	.header-image {
		grid-column: 2/7;
		margin: 3rem auto 1rem auto;
	}
	.caption {
		color: grey;
		font-size: 0.875rem;
		font-style: italic;
	}
	a {
		text-decoration: underline;
	}
	ol, ul {
		margin: 0;
		li {
			margin-bottom: 1rem;
		}
	}
	.date {
		color: #b7b5b5;
	    font-size: 0.875rem;
	    font-style: italic;
	    margin-bottom: 2rem;
	}
	.grid-two-columns {
		margin: 1rem 0;
		img:first-child {
			margin-bottom: 1rem;
		}
		&__list {
			border: 1px solid #e9ecef;
			margin-bottom: 1rem;
			h4 {
				background: #e9ecef;
				margin: 0 0 1rem 0;
				padding: 0.75rem;
			}
			ul, ol {
				margin: 0;
				padding: 0 2rem 1.5rem 3rem;
				li {
					padding-bottom: 0.5rem;
				}
			}
		}
	}
}

@media(min-width: 40em) {
	.post {
		display: grid;
	    grid-template-columns: 1fr 1fr 1fr 680px 1fr 1fr 1fr;
	    margin: 0 0 4rem 0;
	    > * {
	    	grid-column: 4;
	    }
	    img {
	    	grid-column: 4;
		    margin: 1rem auto;
		    width: 100%;
		    max-width: 1000px;
	    }
	    > figure.image {
	    	grid-column: 4;
	    }
	    .full-width {
	    	grid-column: 3/6;
	    }
		h1 {
			font-size: 2.75rem;
			line-height: 1.25;
			margin: 1.5rem 0 1.125rem 0;
		}
		ol, ul {
			&.list-two-columns {
				column-count: 2;
			}
		}
		.grid-two-columns {
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: 1fr 1fr;
			&__list {
				margin-bottom: 0;
			}
			img {
				grid-column: auto;
				margin: 0;
				&:first-child {
					margin-bottom: 0;
				}
			}
		}
	}
}