.card {
	box-shadow: 0 10px 5px rgba(0,0,0,.08);
	border: #f5f6f7 1px solid;
	height: auto;
	margin-bottom: 2.75rem;
	transition: 0.3s;
	img {
		height: auto;
		width: 100%;
	}
	.card-copy {
		padding: 1rem;
		h2 {
			font-size: 1.25rem;
			letter-spacing: 0.375px;
			line-height: 1.4;
			margin-top: 0.25rem;
		}
		p {
			line-height: 1.4;
		}
	} 
	&:hover {
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
		transform: translate(0, -5px);
	}
}

@media(min-width: 40em) {
	.card {
		height: 350px;
		img {
			height: 200px;
		}
		.card-copy {
			h2 {
				font-size: 1.5rem;
				letter-spacing: 0.375px;
				line-height: 1.4;
				margin-top: 0.25rem;
			}
		}
	}
}