nav {
  float: right;
  margin-top: 0; 
  .menu {
    display: none;
  }
  .mobile-menu {
    display: none;
    a {
      display: block;
      font-size: 3rem;
      font-weight: 900;
      margin-bottom: 2.5rem;
      text-align: center;
      &:after {
        content: none;
      }
    }
  }
  .mm-show {
    opacity: 1;
    display: block
  }
  .mobile-menu.mm-show {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 9rem 0;
    background-color: white;
  }
  a {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 2rem;
    font-weight: bold;
    letter-spacing: 1.25px;
    &:hover{
      &:after {
        transform: scaleX(1);
      }
    }
    &:after {
      display:block;
      content: '';
      background: linear-gradient(to right, rgb(211, 131, 18), rgb(168, 50, 121));
      height: 3px;
      width: auto;
      margin-top: 0.125rem;
      transform: scaleX(0);  
      transition: transform 250ms ease-in-out;
    }
    @include mobile {
      margin: 0 10px;
    }
  }
  .hamburger {
    cursor: pointer;
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    position: relative;
    margin: 0.75rem 0 0 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 1;
  }
  .hamburger span {
    background: #000;
    display: block;
    height: 3px;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    width: 100%;
  }
  .hamburger span:nth-child(1) {
    top: 0px;
  }

  .hamburger span:nth-child(2), .hamburger span:nth-child(3) {
    top: 12px;
  }

  .hamburger span:nth-child(4) {
    top: 24px;
  }

  .hamburger.open span:nth-child(1), .hamburger.open span:nth-child(4) {
    left: 50%;
    top: 12px;
    width: 0%;
  }

  .hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

}
@media(min-width: 40em) {
  nav {
    margin-top: 1.5rem; 
    .menu {
      display: block;
    }
    .hamburger {
      display: none;
    }
  }
}
