// VARIABLES

// Grays
$black: #000;
$lightGray: #e9ecef;
$white: #fff;

// Font stacks
$primaryTypeface: 'Nunito Sans', Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}